<%=render 'menu'%>
<style type="text/css">
  h3 p {display:inline;}
</style>
<h3 style="display:inline;color:#E36627"><%=simple_format(@name)%></h3>
(<%=link_to '改', edit_note_path(@id)%>
|
<%=link_to '删', note_path(@id),:method=>:delete,:confirm=>'确定删除？'%>)
<style type="text/css">
  div#content p {color:blue;font-size:14px;}
</style>
<div id="content">
  <%=simple_format(@content)%>
</div>
