<%if params[:key] == 'no'%>
  钥匙：<span style="color:white;"><%=@key%></span>   
  保存好您的钥匙，因为每次登录都要用到。
<%end%>
<p>
<%if @error%>
  <span style="color:white;"><%=@error%></span><br>
<%end%>
<%=form_tag session_path do |f|%>
  钥匙：<%=password_field_tag :key,nil,:size=>48%>
  <%=submit_tag '登录'%>
<%end%>
</p>
